
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  border:1px solid black;
}

body,#root{
  height:100vh;
  width:100%;
}

#root{
  display:grid;
  place-items:center;
}

#calculator{
  padding:10px;
}

#display{
  width:362px;
  height:75px;
  margin:5px;
}

#keys{
  width:362px;
  position: relative;
  left:4px;
}

.key{
  
}

.small{
  display:inline-block;
  height:60px;
  width:90px;
}

.jumbo{
  display:inline-block;
  height:60px;
  width:180px;
}

.vertical{
  position:absolute;
  height:120px;
  width:90px;
}


