
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  border:1px solid black;
}

body,#root{
  height:100vh;
  width:100%;
}

#root{
  display:grid;
  place-items:center;
}

#calculator{
  padding:8px;
  background-color: rgb(52, 51, 51);
}

#display{
  width:362px;
  height:75px;
  margin:5px;
  padding:8px;
  display:flex;
  align-items: center;
  justify-content:right;
  font-family: sans-serif;
  font-size: 30px;
  color:orange;
  background-color: black;
}

#keys{
  width:362px;
  position: relative;
  left:4px;
}

.key{
  background-color: rgb(71, 69, 69);
  color:rgb(255, 255, 255);
  font-size: large;
  cursor:pointer;
}


.small{
  display:inline-block;
  height:70px;
  width:90px;
}

.jumbo{
  display:inline-block;
  height:70px;
  width:180px;
}

.vertical{
  position:absolute;
  height:140px;
  width:90px;
}

#clear{
  background-color: rgb(228, 87, 87);
  
}

.key:hover{
  border: 1px solid white ;
}
.key:active{
  background-color: white;
  color: rgb(71, 69, 69);
}


